
*{
    margin: 0;
}

body{
    font-family: 'Raleway',Arial,sans-serif;
    font-size: small;  
}

body a{
    text-decoration: none;
    color: black;

}
main{
    margin: 1rem;
}



ul{
    list-style: none;
}

img{
    object-fit: cover;
    
}
.majuscule{
    text-transform: capitalize;
    padding: 0rem 0rem 0rem 0.5rem;
}

article{ /*cartes hébergement et populaires (blanc)*/
    background-color: white; 
    margin: auto; 
} 
                                                  /*HEADER*/
.bloc-reservia{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 1.5rem;

}
header{
    display: flex;
    justify-content: space-between;
    height: 5rem;
}
.logo-reservia{
    margin-left: 1.5rem;   
}                                
.container-navbar{                                             
    display: flex;
    justify-content: flex-end;
    
}
.bloc-nav{
    height: 100%;
}
.ancre{
    display: flex; 
    height: 100%; 
} 

.padding-ancre{
    padding: 0rem 1.5rem;
    display: flex;
    align-items: center;
} 

.navigation-lien:hover {  /*survol lien*/
    border-top: 0.15rem #0065FC solid;
    color: #0065FC;
    
}  
.navigation-lien{  /*barre bleue*/
    
}
.bloc-inscrire{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 4rem;
}

.survol-inscription:hover{
    color:#0065FC;
    font-weight: bold;
    font-size: medium;
}
.color-inscription{
    color: #0065FC;
    font-weight: bold;
}
.titres{
    margin: 2rem 2.5rem 0rem 2rem;
    line-height: 1.5rem;
}
    


                                                /*RECHERCHE bouton*/ 
form{
    margin-left: 2rem;
    padding-top: 0.5rem;
    display: flex;
}                                                     
                                             
label { /*icone localisation*/
    border-radius: 0.5rem 0rem 0rem 0.5rem;  
    background-color: #F2F2F2;
    padding:0.7rem
}
.input{  /*champ de recherche marseille,france*/
    
    padding: 0.5rem;
}
.input::placeholder{
    color: black;
    font-weight: bold;

}

.buttom{ /*bouton bleu recherche*/
        color:white;
        background-color: #0065FC;
        border: none;
        border-radius:0px 10px 10px 0px;
        padding: 0.6rem;
}
.buttom:hover{ /*survol du bouton recherche*/
        cursor: pointer;
        width: 6rem;
        height: 3rem;
}                                                    /*FILTRES BOUTON*/
.filtres{   /*div parent filtres*/
        display: flex;
        align-items: center;
        font-weight: bold;
        margin-top: 1.5rem;
        margin-left: 1rem;
        
}
.titre-filtre{
    margin: 1rem 1rem 1rem 1.5rem;
    
}
.bloc-filtre{  
    display: flex;
    color:black;
    border-radius: 1.5rem;  
    border: rgba(211, 211,211) solid  0.1rem  ;  
    margin-right: 1.5rem;  
    padding-right: 1rem;
    height: 10%;        
} 
.bouton-filtre{
    display: flex;
    align-items: center;   
}
.majuscule:hover{        /*survol bouton filtre*/
    font-size: medium;
    color: #0065FC;
}

.bulle{ /*bulle icone filtres*/
        background-color: #DEEBFF;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        color: #0065FC;
        
}


                                                      /*INFO bulle*/
 .info-logement{
        display: flex;  
        align-items: center;  
        margin-left: 2.5rem;  
        margin-top: 2rem;   
        margin-bottom: 2rem;                                          
    }                                                      
.info{ /*bulle du I*/
        border-radius: 50%;  
        border: rgba(211, 211,211) solid 1px;
        color: #0065FC;
        width: 24px;
        height: 24px; 
        margin-right: 0.5rem;  
        display: flex;
        align-items: center;
        justify-content: center; 
}
.center-p{
    padding-top: 0.6rem;
}

  
                                                     /*HEBERGEMENT*/

.flex{   /* grande section hébergement+populaire*/
    display: flex;
    justify-content: space-between;
}


.hebergement{       /*container gris*/
    background-color: #F2F2F2;
    border-radius: 1rem;
    width: 63%;
    height: 38rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
 
}
.padding-titre{
    padding: 2.3rem 2rem 0rem 2.5rem;
}
.container-hebergement{          /*div parent gris*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0.7rem 0.7rem 1.5rem ;  
    padding: 0.5rem 0.5rem 0rem ;
  
}
.article-hebergement{   /*article hébergement */
    border-radius: 1rem;
    width: 28%;
    height: 12rem;
    overflow: hidden;
    margin: 0.8rem 0.5rem 0.8rem 0.5rem;
    border-radius: 1rem ;
    border: white solid 0.25rem;
 
}
article p{
    padding-bottom: 0.5rem;
    padding-top: 0.3rem;
}

.image-hebergement{  /*images*/
    width: 100%;
    height: 7rem; 
    
    
}
.texte-hébergement{
    padding-top: 0.6rem;
    padding-left: 0.7rem;
}

.blue { /*couleur étoiles*/
    color: #0065FC;
    
}
.grey{ /*couleur étoile grise*/
    color: #D9D9D9;
}
                                              
.afficher-plus{ 
      font-weight: bold;
      margin: 2.5rem;
      font-size: medium;
      
}
                                                            /*POPULAIRE*/
.populaire{   /*gris*/
    background-color: #F2F2F2;
    border-radius: 1rem;
    width: 30%; 
    margin-right: 2rem; 
    
}
.bloc-titre{
    display: flex;
    justify-content: space-between; 
    padding-bottom: 1.2rem; 
}
.padding-title{
    padding: 2.3rem 2rem 0rem 3rem;
}
.padding-logo{
    padding: 2.4rem 2.5rem 0rem 0rem;
    font-size: large;
}
.bloc-article{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.article-populaire{   /*article */
    border-radius: 1rem;
    width: 77%;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    border: white solid 0.25rem;
}
.description-populaire{
display: flex;
justify-content: flex-start;


}
.arrondie-populaire{    /*image*/
    height: 9rem;
    width: 7rem; 
    

}
.texte-populaire{
    padding-top: 0.7rem;
    padding-left:1rem;
}
.padding-etoile{
    padding-bottom: 3rem;
    padding-top: 0.5rem;
}
   

                                                             /*ACTIVITES*/
.activité{
    margin: 2rem;
}
.h2-activité{
    padding-bottom: 1.5rem;
    padding-top: 2.3rem;
}
.container-activité{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 4rem);
    row-gap: 2rem;
    column-gap: 2rem;
    
}
.figure-activité{
    overflow: hidden;
    border-radius: 1rem;
    width: 100%;  
    box-shadow: 2px 2px 2px #f2f2f2;
    
}
.image-activité{   
    width: 100%;
    height: 100%;
    min-height: 0%;
    
}
.link-activité{ /* nom des img */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content ;
    height: 100%;
}
.activité1{
    grid-row: 1 / span 5;
}
.activité2{
    grid-row: 1 / span 3;
}
.activité3{
    grid-row: 4 / span 2;   
}
.activité4{
    grid-row: 1 / span 5;
}
.activité5{
    grid-row: 1 / span 3;
}
.activité6{
    grid-row: 4 / span 2;
}
.bordure-activite{
    border: black 1px solid;
}

figcaption{
    font-weight: bold;
    background-color: white;
    padding: 1rem;
}
                                                   /*FOOTER*/
 
footer{
        width: 100%;
        background-color: #F2F2F2;
        line-height: 2rem; 
        height: 10rem;  
        margin-top: 3rem;   
        padding-bottom: 1.5rem; 
        padding-top: 2rem;   
}
.container-footer{
    display: flex;
    margin-left: 1rem;
}
footer h3{
    padding-left: 2.5rem; 
    padding-top: 1rem; 
}
.footer-propos{

}
.footer-hebergement{
    margin-left: 14rem;
}
.footer-assistance{
    margin-left: 14rem;
}
.survol-footer:hover{
    color: black;
    font-weight: bold; 
} 


                                                 /*RESPONSIVE*/

 @media all and (max-width: 1024px){
     /*width: auto;*/
}

@media all and (max-device-width: 480px){   /*smartphone max device =largeur du périphérique*/

}