* {

  margin: 0;
}
body {
  font-family: "Raleway", Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

body a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
}
.majuscule {
  text-transform: capitalize;
  padding: 0 0 0 0.5rem;
}

article {
  /*cartes hébergement et populaires (blanc)*/
  background-color: white;
  margin: auto;
}
/*HEADER*/
.bloc-reservia {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
}
.logo-reservia {
  margin-left: 1.5rem;
}
nav a:hover{
    color:#0065fc

}
.box-nav{
  margin-left: auto;
}

.bloc-nav {
  height: 100%;
}
.ancre {
  display: flex;
  height: 100%;
}

.padding-ancre {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  padding-top: 2rem;
}
.navigation-lien {
  border-top: 0.15rem #0065fc00 solid;
}
.navigation-lien:hover {
  /*survol lien*/
  border-top: 0.15rem #0065fc solid;
  color: #0065fc;  
}
.bloc-inscrire {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 4rem;
  padding-top: 2rem;
}

.survol-inscription:hover {
  color: #0065fc;
  font-weight: bold;
  font-size: medium;
  text-decoration: underline;
}
.color-inscription {
  color: #0065fc;
  font-weight: bold;
}
main{
  max-width: 1440px;
  width: 100%;
}
.titres {
  margin: 2rem 2rem 0 2rem;
  line-height: 1.5rem;
}
.p-titre {
  margin: 0.5rem 0;
}

/*RECHERCHE bouton*/
form {
  margin-left: 2rem;
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
}

label {
  /*icone localisation*/
  border-radius: 1rem 0 0 1rem;
  background-color: #f2f2f2;
  padding: 1rem;
}
.input {
  /*champ de recherche marseille,france*/

  padding: 1rem 2.5rem 1rem 1rem;
  border: #f2f2f2 solid 0.1rem;
}
.input::placeholder {     /*pour  l ecriture de la ville prédéfinie*/
  color: black;
  font-weight: bold;
  font-size: medium;
}

.button {
  /*bouton bleu recherche*/
  color: white;
  background-color: #0065fc;
  border: none;
  border-radius: 0px 15px 15px 0px;
  padding: 1rem;
  font-size: medium;
}

.button:before {
  content: "Rechercher";
}                          /*FILTRES BOUTON*/
.filtres {
  /*div parent filtres*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 1rem;
}
.titre-filtre {
  margin: 1rem 1.5rem 1rem 1.5rem;
}
.div-filtres {
  display: flex;
}
.bloc-filtre {
  display: flex;
  color: black;
  border-radius: 1.5rem;
  border: rgba(217, 217, 217) solid 2px;
  border-left-style: none;
  margin-right: 2rem;
  padding-right: 1.3rem;
  align-items: center;
  height: 45px;
}

.bloc-filtre:hover {
  /*survol bouton filtre*/
  background-color: #0065fc;
  color: white;
}

.bulle {
  /*bulle icone filtres*/
  background-color: #deebff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #0065fc;
  font-size: 1.2rem;
  padding: 15px;
  width: 19px;
  height: 19px;
}
.filtre-animaux {
  padding: 0 0 0 0.5rem;
}
.filtre-animaux:hover {
  color: white;
}

/*INFO bulle*/
.info-logement {
  display: flex;
  align-items: center;
  margin: 2rem 0.5rem 2rem 2rem;
  border-radius: 100%;
}
.info {
  /*bulle du I*/
  border-radius: 100%;
  border: rgba(217, 217, 217) solid 1.5px;
  color: #0065fc;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
}

/*HEBERGEMENT*/

.bloc-section {
  /* grande section hébergement+populaire*/
  display: grid;
  grid-template-columns: 7fr 3fr;
  column-gap: 2.5rem;
}

.hebergement {
  /*container gris*/
  background-color: #f2f2f2;
  border-radius: 1rem;
  padding: 2rem 2rem 0 2rem;
  margin-left: 2rem;
}
.padding-titre {
  margin: 1rem 0 2rem 1rem;
}
.container-hebergement {
  /*div parent gris*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.87rem;
}
.article-hebergement {
  /*article hébergement */
  border-radius: 1rem;
  overflow: hidden;
  width: 85%;
  border-radius: 1rem;
  border: white solid 0.25rem;
  box-shadow: 2px 2px 5px #C0C0C0;
}
article p {
  padding-bottom: 0.5rem;
  padding-top: 0.3rem;
}

.image-hebergement {
  /*images*/
  width: 100%;
  height: 7rem;
}
.texte-hebergement {
  padding: 0.6rem 0 0.4rem 0.7rem;
}

.blue {
  /*couleur étoiles*/
  color: #0065fc;
  font-size: small;
}
.grey {
  /*couleur étoile grise*/
  color: #d9d9d9;
  font-size: small;
}

.afficher-plus {
  font-weight: bold;
  margin: 2rem 1rem;
  font-size: medium;
}
/*POPULAIRE*/
.populaire {
  /*gris*/
  background-color: #f2f2f2;
  border-radius: 1rem;
  padding: 2rem;
  margin-right: 2rem;
}
.bloc-titre {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.padding-logo {
  font-size: x-large;
}
.bloc-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.article-populaire {
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: white solid 0.25rem;
  box-shadow: 2px 2px 5px #C0C0C0;
}
.description-populaire {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.arrondie-populaire {
  /*image*/
  width: 100%;
  height: 0;
  min-height: 100%;
}
.texte-populaire {
  padding: 0.7rem 0 0.5rem 1rem;
}
.padding-etoile {
  padding-bottom: 2rem;
}

/*ACTIVITES*/
.activites {
  margin: 2rem;
  padding-bottom: 1rem;
}
.h2-activite {
  padding-bottom: 1.5rem;
  padding-top: 2.3rem;
}
.container-activite {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-template-rows: repeat(9, 0.9rem);
  row-gap: 2.5rem;
  column-gap: 2.5rem;
}
.figure-activite {
  overflow: hidden;
  border-radius: 1rem;
  width: 100%;
  border: #f2f2f2 solid 1px;
  box-shadow: 2px 2px 5px #C0C0C0;
}
.image-activite {
  width: 100%;
  height: 100%;
  min-height: 0%;
}
.position-image2 {
  object-position: 50% 40%;
}
.position-image3 {
  object-position: 50% 10%;
}
.position-image5 {
  object-position: 50% 10%;
}
.position-image6 {
  object-position: 50% 10%;
}

.link-activite {
  /* nom des img */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  height: 100%;
}
.activite1 {
  grid-row: 1 / span 9;
}
.activite2 {
  grid-row: 1 / span 5;
}
.activite3 {
  grid-row: 6 / span 4;
}
.activite4 {
  grid-row: 1 / span 9;
}
.activite5 {
  grid-row: 1 / span 4;
}
.activite6 {
  grid-row: 5 / span 5;
}
.activite{
  width: 100%;
}

figcaption {
  font-weight: bold;
  background-color: white;
  padding: 1rem;
}
/*FOOTER*/

footer {
  width: 100%;
  background-color: #f2f2f2;
  line-height: 2rem;
  justify-content: left;
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}
.container-footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 1440px;
  margin-left: 3rem;

}
footer ul{
  padding-left: 0;
}
.footer-hebergement{
  margin-left: 6rem;
  
}
.footer-assistance{
  margin-left: 6rem;
  
}



                                                        /*RESPONSIVE*/
@media screen and (min-width:1441px){
  body{
    align-items: center;
  }
  
}

@media screen and (max-width: 1440px) {
  
  .bloc-section {
    align-items: start;
    grid-template-columns: 6fr 4fr;
  }
  .container-hebergement {
    grid-template-columns: repeat(2, 1fr);
  }
  .container-footer {
    margin-left: 3rem;
  }
  
  .footer-hebergement {
    margin-left: 6rem;
  }
  .footer-assistance {
    margin-left: 6rem;
  }
  
}

@media screen and (max-width: 900px) {
  .titre-filtre {
    margin: 1rem 1.5rem 1rem 0.5rem;
  }
  .info-logement {
    margin-left: 1rem;
  }
  .filtre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
  .bloc-filtre {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  .div-filtres {
    display: flex;
    flex-wrap: wrap;
  }
  .bloc-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .hebergement {
    margin: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    padding: 0;
  }
  .afficher-plus{
    margin: 2.5rem 0 1rem 1rem;
  }
  .padding-titre{
    margin-left: 1rem;
    margin-top: 1rem;
    padding-top: 2rem;
  }
  .article-hebergement {
    width: 85%;
  }
  .bloc-titre {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .populaire {
    margin-right: 0;
    padding: 0;
    border-radius:0;
  }
  .bloc-article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
  }
  .article-populaire {
    width: 85%;
  }
  .padding-etoile {
    padding-bottom: 0;
  }
  .padding-responsive {
    padding-top: 1.5rem;
  }
  .container-activite {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(18, 0.9rem);
    row-gap: 2.5rem;
    column-gap: 2.5rem;
  }
  .activite1 {
    grid-row: 1 / span 9;
  }
  .activite2 {
    grid-row: 1 / span 5;
  }
  .activite3 {
    grid-row: 6 / span 4;
  }
  .activite4 {
    grid-row: 10 / span 9;
  }
  .activite5 {
    grid-row: 10 / span 4;
  }
  .activite6 {
    grid-row: 14 / span 5;
  }
  .h2-activite {
    padding-top: 0;
  }

  footer {
    height: auto;
    display: flex;
  }
  .container-footer{
    display: flex;
    align-items: flex-start;
  }
  .footer-hebergement{
    margin-left: 4rem;
  }
  .footer-assistance{
    margin-left: 4rem;
  }
}
@media screen and (max-width: 660px) {

  header {
    flex-wrap: wrap;
  }
  nav li {
    border-bottom: 0.15rem solid #f2f2f2;
    border-top: none;
  }
  .box-nav {
    width: 100%;
    order: 2;
    margin-top: 1rem;
  }
  .ancre{
    justify-content: space-evenly;
    padding: 0;
  }
  .padding-ancre {
    padding: 0 ;
    padding-bottom: 1rem;
  }
  .navigation-lien{
    display: flex;
    justify-content: center;
    width: 50%;
    padding-top: 1rem;
    border-bottom: 0.20rem #f2f2f2 solid; 
  }
  .navigation-lien:hover {
    /*survol lien*/
    border-bottom: 0.20rem #0065fc solid;
    color: #0065fc;
    border-top: none;
    padding-bottom: 1rem;
  }
  
  .bloc-inscrire{
    order: 1;
    padding-right: 2rem;
    padding-top: 2rem;
  }
  .titres{
    margin: 2rem 0 2rem 2rem;
  }
  
  form {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: min-content auto min-content;
  }
  label {
    padding: 1.3rem;
  }
  .input {
    padding: 1.3rem 1rem 1.3rem 1.5rem;
    border-right-style: none;
    margin-right: -2rem;
  }
  .button {
    /*BOUTON BLEU*/
    color: white;
    background-color: #0065fc;
    border: none;
    border-radius: 15px;
    padding: 1.3rem;
    font-size: medium;
  }
  .button:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
  }
  .filtres {
    /* filtres*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
  .titre-filtre {
    margin: 1rem 1.5rem 1rem 0;
    padding-left: 1rem;
  }
  .div-filtres {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.5rem;
  }
  .bloc-filtre {
    display: flex;
    color: black;
    border-radius: 1.5rem;
    border: rgba(217, 217, 217) solid 2px;
    border-left-style: none;
    margin-right: 0.8rem;
    margin-top: 0;
    padding-right: 1.3rem;
    align-items: center;
    height: 45px;
  }
  .info-logement{
    align-items: flex-start;
    margin: 1.5rem 0rem 2rem 0.5rem;
    
  }
  .info{
    width: 1.8rem;
  }
  .bloc-section {
    /*HEBERGEMENT */
    display: flex;
    flex-direction: column-reverse;
  }
  .hebergement {
    background-color: white;
    margin-left: 0;
    width: 100%;
    padding-top: 0;
  }
  .padding-titre {
    padding: 2rem 2rem 0 2rem;
    margin-left: 0;
  }
  .container-hebergement {
    display:flex;
    flex-direction: column;
  }
  .article-hebergement {
    border-radius: 1rem;
    width: 85%;
    overflow: hidden;
    border-radius: 1rem;
    border: white solid 0.25rem;
    box-shadow: 2px 2px 5px #C0C0C0;
  }
  .afficher-plus{
    margin: 2.5rem 0 1rem 2rem;
  }
  .populaire {
    /*gris*/ /*POPULAIRE*/
    background-color: #f2f2f2;
    border-radius: 0;
    width: 100%;
    margin-right: 2rem;
  }
  .bloc-titre{
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .bloc-article {
    display: flex;
    flex-direction: column;
    padding:0 0 3rem 0 ;
    
  }
  .article-populaire{
    width: 85%;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  .padding-responsive {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .padding-nuit {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
  }

  .activites {
    
    padding-bottom: 1rem;
  }
  .h2-activite {
    padding-top: 0;
  }
  .container-activite {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 2.5rem;
    grid-template-columns: auto;
  }
  .figure-activite{
    height: 14rem;
  }

  footer {
    height: auto;
    display: flex;
    justify-content: left;
  }
  .container-footer {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
  }
  .footer-propos{
    margin-bottom: 2rem;
  }
  .footer-hebergement {
    margin-left: 0rem;
    margin-bottom: 2rem;
  }
  .footer-assistance {
    margin-left: 0rem;
    margin-bottom: 2rem;
  }
}