body{
    font-family: 'Raleway';sans-serif;
    font-size: small; 
     
}

body a{
    text-decoration: none;
    color: black;

}
footer{
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    line-height: 2;
    
}

.hebergement{
    background-color: #F2F2F2;
    display: grid;
}
      
.hebergement > article {
        
}

.populaire{
    background-color: #F2F2F2;
    float: right;
    
}
ul{
    list-style: none;
}
#buttom{ /*bouton bleu recherche*/
    color:white;
    background-color: #0065FC;
    border-radius:0px 10px 10px 0px;
    padding: 0.5rem;

}
#input{  /*champ de recherche marseille,france*/
font-weight: bold;
padding: 0.5rem;
}
.info{
    border-radius: 30%;  
    background-color: #DEEBFF;
    border: black solid 1px;
    color: #0065FC;
}


.navbar{
    display: flex;
    justify-content: flex-end;
}
.ancre{
    display: flex;
}

.filtres{
    display: flex;
    font-weight: bold;
}
navigation-lien:hover {
    border-top: 0.15rem #0065FC solid;
    
  } 
  .bouton-filtre{
      display: flex;
      justify-content: space-between;
      border-radius: 100%;
      color:black;
      border-radius: 2rem;  
    background-color: white;
    border: black solid 1px;
      

  }
  .blue { /*couleur étoiles*/
      color: #0065FC;
      
  }
  figcaption{
      font-weight: bold;
  }
  .gras{ /*bold "afficher plus*/
      font-weight: bold;
  }
  .info-logement{
      display: flex;
  }
  label{ /*icone localisation*/
    border-radius: 0.5rem 0rem 0rem 0.5rem;  
    border: 1px solid black;
    padding:0.5rem
  
